.btn {
    border: none;
    padding: 19px 0;
    font-size: 11px;
    text-align: center;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    border: 1px solid;
    border-color: #E2E2E2;
    font-weight: 700;
    letter-spacing: 2.6px;

    &:active, &:hover {
        outline: none;
        border-color: #2EBAAE;
        border: 1px solid;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
    }
}

.btn-sm {
    padding: 19px 27px 20px 27px;
    letter-spacing: 2.8px;
}

.btn-lg {
    letter-spacing: 4px;
    padding: 23px 39px 24px 38px;
    font-size: 0.75em;
}

.btn-vissible {
    cursor: inherit;
    border: 1px solid #E2E2E2;
    color: #E2E2E2;
}

.btn-next {
    padding: 23px 0;
    margin-left: 14px;
}