.btn {
    border: none;
    padding: 19px 0;
    font-size: 11px;
    text-align: center;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    border: 1px solid;
    border-color: #E2E2E2;
    width: 153px;
    font-weight: 700;
    letter-spacing: 2.6px;

    &:active, &:hover {
        outline: none;
        border-color: #2EBAAE;
        border: 1px solid;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
    }
}