.main {
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        ul {
            display: flex;
            list-style-type: none;
            flex-direction: row;
            margin: 0;
            padding: 0;

            li {
                font-size: 9.5px;
                letter-spacing: 0.35em;
                line-height: 1;
                border: none;
                padding-left: 24px;
                margin-left: 24px;
                border-left: 1px solid #E2E2E2;

                &:first-child {
                    border-left: none;
                }
            }
        }

        i {
            color: #E2E2E2;
            padding-right: 3px;
            font-size: 11px;
        }
    }
}