.header {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #E2E2E2;
    z-index: 1;
}