.main {
    width: 100%;

    .news {
        background-color: white;
        border: 1px solid #E2E2E2;
        margin-bottom: 57px;
    }

    .caption {
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid #E2E2E2;
    }

    .title {
        width: 100%;
        border-right: 1px solid #E2E2E2;
        padding: 56px 56px 54px 56px;

        h2 {
            font-weight: 900;
            font-size: 1.7em;
            letter-spacing: 0.28em;
            line-height: 1.65;
            margin: 0;
            padding: 14px 0 17px 0;
        }

        p {
            font-size: 0.8em;
            font-weight: 400;
            letter-spacing: 0.25em;
            line-height: 2.5;
            margin: 0;
            padding-bottom: 9px;
        }
    }

    .date {
        position: relative;
        width: 452px;
        padding: 67px 56px 0 0;
        text-align: right;

        h3 {
            font-size: 0.8em;
            font-weight: 700;
            letter-spacing: 0.27em;
            padding-bottom: 3px;
        }

        a {
            vertical-align: middle;
            font-size: 0.6em;
            font-weight: 400;
            letter-spacing: 0.3em;
            margin-right: 14px;
        }

        .avatar {
            display: inline-block;
            vertical-align: middle;
            width: 45px;
        }
    }

    .info {
        padding: 56px 56px 55px 56px;

        a {
            overflow: hidden;
            display: block;
        }

        p {
            font-family: "Source Sans Pro", Helvetica, sans-serif;
            font-size: 18px;
            font-weight: 400;
            letter-spacing: 0.4px;
            line-height: 32px;
            color: #646464;
            padding: 38px 0 19px 0;
        }
    }
}