.sidebar {
    width: 31%;
    padding-right: 58px;

    h1 {
        font-size: 37px;
        font-weight: 800;
        letter-spacing: 9.2px;
        line-height: 61px;
        margin: 25px 0 23px 0;
    }

    p {
        font-size: 14px;
        letter-spacing: 4.1px;
        line-height: 37px;
        margin: 0;
    }
}