@media screen and (max-width: $md-width) {

    .main {

        .news {
            border: 0;
            margin-bottom: 48px;
            border-bottom: 1px solid #E2E2E2;
        }

        .caption {
            flex-direction: column;
            text-align: center;
            padding: 46px 46px 49px 46px;
            border-top: 1px solid #E2E2E2;
        }
        
        .title {
            padding: 0 0 32px 0;
            border-right: 0;
        }
    
        .date {
            width: 100%;
            padding: 0;
            text-align: center;
            display: flex;
            flex-direction: row;
            justify-content: center;

            .author {
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                padding-left: 19px;
                margin-left: 19px;
                border-left: 1px solid #E2E2E2;
            }
    
            h3 {
                font-size: 0.7em;
                letter-spacing: 0.25em;
            }
    
            a {
                margin-left: 11px;
                margin-right: 0;
            }

            .avatar {
                width: 33px;
            }
        }

        .next-page {
            padding: 0 48px 0 48px;
        }
    }
}