@media screen and (max-width: $xl-width) {

    .main {

        .footer ul li {
            font-size: 10px;
            letter-spacing: 0.25em;
            padding-left: 19px;
            margin-left: 19px;
        }
    }
}