@media screen and (max-width: $xl-width) {

    .main-menu {

        ul {

            letter-spacing: 4px;
            padding: 0;
            font-size: 11px;
            padding: 23px 24px 19px 24px;

            li {
                font-size: 10px;
                letter-spacing: 3.3px;
                padding: 2px 18px 0 18px;
            }
        }
    }
}