@media screen and (max-width: $xl-width) {

    .main {
    
        .news {
            margin-bottom: 48px;
        }
    
        .title {
            padding: 46px 48px 55px 48px;
    
            h2 {
                font-size: 1.5em;
                letter-spacing: 0.25em;
                line-height: 1.65;
                padding: 14px 0 15px 0;
            }
    
            p {
                font-size: 0.6em;
                letter-spacing: 0.34em;
                line-height: 2.5;
                padding-bottom: 0;
            }
        }
    
        .date {
            width: 376px;
            padding: 57px 48px 0 0;
    
            h3 {
                font-size: 0.7em;
                letter-spacing: 0.25em;
            }
    
            a {
                font-size: 0.6em;
                letter-spacing: 0.25em;
                margin-right: 11px;
            }
    
            .avatar {
                width: 38px;
            }
        }
    
        .info {
            padding: 47px 48px 48px 48px;
    
            p {
                font-size: 16px;
                letter-spacing: 0;
                line-height: 28px;
                padding: 48px 0 32px 0;
                margin: 0;
            }
        }
    }
}