@media screen and (max-width: $xl-width) {

    .mini-post {
        padding-top: 24px;
        margin-top: 24px;
    
        ul {
            width: 18.333%;

            img {
                vertical-align: middle;
            }
        }
    
        h3 {
            font-size: 11px;
            letter-spacing: 2.8px;
            line-height: 18px;
        }
    
        p {
            padding: 12px 0 10px 0;
            font-size: 10px;
            letter-spacing: 2.5px;
            line-height: 0;
        }
    
        .when {
            padding: 0 0 0 24px;
        }
    }
}